<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Event_ManagementEntities" connectionString="metadata=res://*/DataBase.Model.EventDB.csdl|res://*/DataBase.Model.EventDB.ssdl|res://*/DataBase.Model.EventDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NABIHA;initial catalog=Event_Management;persist security info=True;user id=sa;password=asd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>